<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Registration Verification</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    h2 {
      color: #333;
    }

    p {
      color: #777;
    }

    .otp-container {
      border: 2px solid #ddd;
      padding: 10px;
      background-color: #f9f9f9;
      text-align: center;
    }

    .otp-code {
      font-size: 24px;
      color: #333;
      margin-top: 10px;
    }

    .footer {
      margin-top: 30px;
      color: #777;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Registration AddUser</h2>
    <p>Dear {{data.name}},</p>
    <p>Thank you for addUser  Please use the following password and mail your registration:</p>
    <div class="otp-container">
      <span class="otp-code">{{data.generatePassword}}</span>
    </div>
    <p>This password will expire in {{data.expireTime}} minutes.</p>
    <p>If you did not request this registration, please ignore this email.</p>
    <div class="footer">
      <p>Thank you,</p>
      <p>Admin</p>
    </div>
  </div>
</body>
</html>
